body
{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.contenu
{
    width: auto;
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
    margin-left: auto;;
    border: solid white;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.temps
{
    font-weight: bolder;
    font-size: 3.5em;
}
.minute
{
    color: red;
}
.detail
{
    font-size: 2em;
    font-weight: bold;
}